# Entorno
.env
*.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
build/

# Base de datos local
*.sqlite
*.db

# Notebooks (outputs, no el notebook en sí)
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/